@use '../../styles/variables' as *;

.projects {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;

  .projects-container {
    display: grid;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin-top: 4rem;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    h1 {
      text-align: center;
      color: #0F0;
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }

    p {
      text-align: center;
      color: #fff;
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 1rem;


    .projects-container {
      padding: 1rem;
    }
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;

  .project-item {
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.85);

    &:hover {
      background-color: rgba(0, 255, 0, 0.1);
      border-color: rgba(0, 255, 0, 0.2);
    }

    h2 {
      color: #fff;
      margin: 0 0 0.5rem;
      font-size: 1.5rem;
    }

    p {
      margin: 0.5rem 0;
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}