@use '../../styles/variables' as *;

.cv-card {
  position: relative;
  margin: 3rem 0;
  width: 80%;
  max-width: 1000px;

  &.align-right {
    margin-left: auto;
    .cv-card-title {
      right: -2rem;
    }
  }

  &.align-left {
    margin-right: auto;
    .cv-card-title {
      left: -2rem;
    }
  }

  .cv-card-title {
    position: absolute;
    top: -1.5rem;
    background-color: $color-accent;
    padding: 1rem 2rem;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 2rem);
    white-space: nowrap;
    overflow: hidden;

    h2 {
      margin: 0;
      color: $color-text;
      font-size: 1.5rem;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .cv-card-content {
    background-color: rgba($color-background, 0.9);
    padding: 2.5rem 2rem 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid $color-accent;

    p {
      margin: 0;
      line-height: 1.6;
      color: $color-text;
    }

    ul {
      margin: 0;
      padding-left: 1.5rem;
      color: $color-text;
      
      li {
        margin-bottom: 0.5rem;
        line-height: 1.6;
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @media (max-width: $breakpoint-mobile) {
    width: 95%;
    margin-left: auto !important;
    margin-right: auto !important;

    &.align-right,
    &.align-left {
      .cv-card-title {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        max-width: 80%;
      }
    }
  }
} 